.container {
	color: white;
	width: 90%;
	margin: 0 auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.project-card {
	flex-basis: 45%;
	margin-bottom: 30px;
}

.header {
	margin: 0;
	margin-left: 60px;
	color: rgb(0, 255, 170);
}

.header-container {
	padding: 0;
	margin: 0;
}

.tag {
	text-align: left;
	font-size: 20px;
	color: rgb(153, 153, 153);
}
