.main-container {
	width: 100%;
}

.container {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 15vh;
	font-size: 1.5rem;
	padding-top: 10px;
	display: grid;
	row-gap: 15px;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	background: black;
	color: rgb(198, 198, 198);
	z-index: 2;
	background-color: black;
	background: url('../../assets/Logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.nav-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px 10px 10px;
	font-weight: 150;
	transition: color 0.5s;
	transition: outline 0.5s;
}

.nav-item:hover {
	color: rgb(0, 255, 170);
	transform: scale(1.2);
}

.border-animation {
	position: absolute;
	width: 0%;
	height: 100%;
	transition: width 0.75s;
	overflow: hidden;
}

.nav-item:hover .border-animation {
	color: black;
	width: 100%;
	outline: 2px solid rgb(0, 255, 170);
}

.mobile-nav-container {
	top: 0;
	left: 0;
	display: none;
}

@media screen and (max-width: 600px) {
	.container {
		display: none;
	}

	.mobile-nav-container {
		display: flex;
		position: fixed;
		background: black;
		z-index: 5;
		color: white;
		height: 125px;
		width: 100%;
		align-items: center;
		border-bottom: 2px solid gray;
	}
	.mobile-header {
		width: 100%;
		margin-left: 20px;
		display: flex;
		align-items: center;
	}

	.open-btn-text {
		margin: 0;
		padding: 0;
	}

	.nav-btn {
		display: none;
		font-size: 26px;
		position: relative;
		justify-content: center;
		z-index: 4;
		width: 90%;
		height: 45px;
		background-color: black;
		color: rgb(153, 153, 153);
		border: 2px solid rgb(198, 198, 198);
	}

	.open-btn {
		top: 0;
		position: absolute;
		width: 100%;
		padding-top: -5px;
		font-size: 80px;
		display: flex;
		flex-direction: column;
	}

	.open-btn:hover .nav-btn {
		display: flex;
	}

	.head-text-cont {
		position: absolute;
		top: 30px;
		left: 60%;
		transform: translateX(-50%);
		width: 70%;
	}

	.head-text {
		margin-left: 30px;
		color: rgb(0, 255, 170);
		font-size: 27px;
	}
}

.active {
	color: rgb(0, 255, 170);
	border: 2px solid rgb(0, 255, 170);
	z-index: 5;
}
