.container {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 15vh;
	font-size: 1.5rem;
	padding-top: 10px;
	display: grid;
	row-gap: 15px;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	background-color: black;
	color: rgb(198, 198, 198);
}

.nav-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px 10px 10px;
	font-weight: 150;
	transition: color 0.5s;
	transition: outline 0.5s;
}

.nav-item:hover {
	color: rgb(0, 255, 170);
	transform: scale(1.2);
}

.border-animation {
	position: absolute;
	width: 0%;
	height: 100%;
	transition: width 0.75s;
	overflow: hidden;
}

.nav-item:hover .border-animation {
	width: 100%;
	outline: 2px solid rgb(0, 255, 170);
}
